@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
// font-family: 'Lato', sans-serif;
// font-family: 'Lato-Black', sans-serif;
// font-family: 'MyriadPro', sans-serif;
@font-face{
	font-family: "MyriadPro";
	src: url("../../fonts/MyriadPro-Regular.woff");
	src: url("../../fonts/AnyConv.com__MyriadPro-Regular.woff2");
	font-style: normal;
	font-weight:normal;
}
@font-face {
	font-family: "Lato-Black";
	src: url("../../fonts/Lato-Black.woff");
	src: url("../../fonts/Lato-Black.woff2");
	font-style: normal;
	font-weight:normal;
}
body{
	font-family: 'Lato', sans-serif;
	background: url("../../img/BG-Header-real.png") center no-repeat;
	background-size: 100% auto;
	max-width: 1920px;
	margin: 0 auto;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction:column;
	margin: 0 auto;
}
.conteiner {
}
.header {
	min-height: 820px;
	display: flex;
}
.header__column {
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	flex: 1 1 auto;
	align-items: center;
}
.header__logo {
}
.logo__item {
	flex:0 0 195px;
}
.header__text {
	color: #ffffff;

}
.header__bigtext {
	text-align: center;
	font-size: 26px;
	letter-spacing: 4.15px;
	padding-bottom: 30px;
	position: relative;
}
.header__bigtext:first-line{
	font-family: "Lato-Black";
	font-size: 34px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 5.43px;
}
.header__bigtext:after{
	content: "";
position: absolute;
bottom: 0;
left: 50%;
width: 100px;
height: 1px;
background-color: #fff;
margin-left: -45px;
}
.header__button {
}
.button__link {
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.67px;
	padding: 16px 40px 18px 42px;
	border: 1px solid #fff;
}
.header__icon{
}
.main {
	max-width: 422px;
	margin: 0 auto;
	padding-bottom: 130px;
}
.menu {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: -22px 0 ;
	}
	&__list { 
		display: flex;
		flex: 1 1 auto;
		align-self: center;
		justify-content: space-between;
		align-items: center;
		padding: 22px 0 ;
	}
		&__list:first-child{
			color:#b8ad87;
		}
	}
.menu {
	&__item {
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		}
	&__item:first-child{
		color:#b8ad87;
	}
}

.content {
	max-width: 688px;
	margin: 0 auto;
}
.base {
	display: flex;
	flex-direction:column;

}
.base__about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 70px;
	.about__title {
		color: #000000;
		font-size: 34px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 8.95px;
		position: relative;
		padding-bottom: 73px;
	}
	.about__title:after{
		content: "";
		position: absolute;
		width: 90px;
		height: 1px;
		top:65px;
		left: 45%;
		background-color: #000;
		margin-left:-40px;
	}
	.about__description {
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 25.89px;
		text-align: center;
	}
}
.row {
	max-width: 823px;
	margin-top: 70px;
	margin-bottom: 95px;
	display: flex;
	flex-direction:column;
}
.row-middle {
	display: flex;
	margin: 0 -15px;
	flex:0 0 33.333%;
	&__columns {
		display: flex;
		align-items: center;
		flex-direction:column;
		padding: 0 15px;
	}
}
.columns {
	&__icon {
		width: 92px;
		height: 92px;
		border-radius: 50%;
		border: 1px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 41px;
	}
	&__title {
		color: #000000;
		font-size: 20px;
		text-align: center;
		letter-spacing: 3.52px;
		margin-bottom: 35px;
	}
	&__description {
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
		text-align: center;
		
	}
}
.dolor {
	background-color: #f3f3f3;

}
.category {
	max-width: 294px;
	margin: 0 auto;
	display: flex;
	text-align: center;
	justify-content: space-between;
	flex-direction:column;
	&__title {
		margin-top: 107px;
		color: #000000;
		font-size: 34px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5.43px;
		position: relative;
		padding-bottom: 40px;
		&::after{
			content: "";
			position: absolute;
			width: 80px;
			height: 1px;
			left: 35%;
			bottom: 0;
			background-color: #000;
			}
		}
	&__wrapper {
		margin-top: 50px;
		margin-bottom: 136px;

	}
}
.wrapper {
	&__list {
		display: flex;
		text-align: center;
		justify-content: space-between;
	}
	&__item a{
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		}
	&__item--active a{
		color: #ada074;
	}
}

.gallery {
	max-width: 1103px;
	margin: 0 auto;
}
.gallery__column {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap:wrap;
	margin: 0 -26px -16px 0;
}
.gallery__item {
	flex: 0 0 50%;
	padding: 0 26px 16px 0;
}

.read {
	max-width: 1103px;
	margin: 0 auto;
}
.button-read {
	margin: 64px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-read-more {
	color: #000000;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.67px;
	padding: 18px 40px;
	border: 1px solid #000;
	margin-bottom: 62px;
}
.partners {
	background: url("../../img/yes.png") center no-repeat;
	background-size: 100% auto;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		min-height: 390px;
	}
	&__text {
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		text-align: center;
		letter-spacing: 1.8px;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: -55px;
	}
	&__icon {
		flex:0 0 25%;
		padding-left: 55px;
	}
}
.contact {
	margin: 180px 0 100px 0;
}
.contact__container {
	max-width: 1920px;
	margin: 0 auto;
}
.contact__text {
	color: #000000;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5.39px;
	padding-bottom: 45px;
	position: relative;
	margin-bottom: 115px;
	&::after{
		content:"";
		position: absolute;
		width: 90px;
		height: 1px;
		bottom: 0;
		left: 47%;
		background: #000;
	}
}
.contact__box {
	max-width: 718px;
	margin: 0 auto;
}
.contact__message {
	display: flex;
	align-items: center;
	justify-content:center;
	margin: 0 0 0 -80px;
}
.message__form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap:wrap;
	flex:0 0 383px;
	padding: 0 0 0 80px;

}
.form__block-1{}
.form__text {
	margin-bottom: 15px;
}
.text {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.84px;
}
.form__name {
	background: #f8f7f7;
	border-top: 1px solid #000;
	padding: 5px 0;
}
.form__block-2{}
.form__label {
	margin-bottom: 15px;
}
.form__email {
	background: #f8f7f7;
	border-top: 1px solid #000;
	padding: 5px 0;
}
.form__block-3{
	margin-top: 70px;
}
.form__message {
	margin-bottom: 15px;
}
.form__textarea {
	background: #f8f7f7;
	border-top: 1px solid #000;
}
.form__button {
	margin-top: 35px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.84px;
	background: #fff;
	margin-left: 380px;
}
.message__info {
	display: flex;
	align-items: start;
	justify-content:space-between;
	flex-direction:column;
	flex:0 0 370px;
	margin: 0 0 -25px 0;
	padding: 0 0 0 80px;
}
.info__idea {
	padding: 0 0 25px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
.info__name {
	padding: 0 0 25px 0;
	font-weight: 700;
}
.info__icons {
	padding: 0 0 25px 0;
	display: flex;
}
.info__icon{
	width: 29px;
	height: 29px;
	border: 1px solid #000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}
.info__icon:first-child{
	margin-left: 0px;
}
.info__email {
	padding: 0 0 25px 0;
	margin-bottom: 60px;
}
.info__email span{
	font-weight: 700;
}
.footer {
	max-width:1927px;
	margin: 0 auto;
	background-color: #3c3c3c;
	&__container {}
	&__final {
		margin-top: -48px;
		display: flex;
		flex-direction:column;
		justify-content:space-between;
		align-items: center;
	}
}
.final {
	&__logo {
		padding-top: 48px;
	}
	&__menu {
		display: flex;
		padding-top: 48px;
		margin: 0 20px;
	}
	&__item {
		color: #a4a4a4;
		font-size: 14px;
		padding: 0 20px;
	}
	&__text {
		padding-top: 48px;
		margin-bottom: 50px;
		color: #6c6c6c;
		font-family: "MyriadPro";
		font-size: 14px;
	}
}
